@model List<WorkspaceGlimpse.User>;

<!DOCTYPE html>
    <html>
    <head>
        <title>Lista Clientes</title>
    </head>
    <body>
        <h2>Lista de Usuarios</h2>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.ProfilePic</td>
                    <td>@user.UserName</td>
                </tr>
            }
        </table>
    </body>
</html>